<!-- Container principal que do menu sidebar -->

<div class="menu_sidebar">

  <!-- Content do menu que engloba as categorias de listas, caso esse menu no futuro 
    escale e necessite ser separado em categorias, basta somente adicionar uma "ul" e definir suas "li" 
  -->
  <div class="sidebar_navLinks">

    <!-- Listas "ul" que representam as categorias -->

    <ul>
      <li class="sidebar_links"><a href="">Dashboard</a></li>
      <li class="sidebar_links"><a href="">Orders</a></li>
      <li class="sidebar_links"><a href="">Stock</a></li>
      <li class="sidebar_links"><a href="">Reports</a></li>
      <li class="sidebar_links"><a href="">Settings</a></li>
      <li class="sidebar_links"><a href="">Pendings</a></li>
    </ul>
  </div>

  <!-- O Container que representa o footer do menu sidebar e não da página inteira -->

  <div class="sidebar_footer">

    <!-- Um simples texto centralizado -->
    <p>Copyright</p>
  </div>
</div>