//color
$color-primary: #019284;
$color-secundary: #333333;
$color-black: #1e1e1e;
$color-text-white: #ffffff;
$color-text-black: #292929;

//background
$background-gray: #d0d0d0;
$background-black: #1e1e1e;
